<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h1>Машины</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Модель</td>
            <td>Гос. номер</td>
            <td>Год выпуска</td>
            <td>Производитель</td>
            <td>Владелец</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.model}"/>
            <td th:text="${car.carNumber}"/>
            <td th:text="${car.yearOfIssue}"/>
            <td th:text="${car.manufacturer}"/>
            <td th:text="${car.owner.fullName}"/>
            <td><a class="btn btn-info" th:href="@{'/car/info/' + ${car.id}}">Инфо</a></td>
            <td><a class="btn btn-danger" th:href="@{'/car/delete/' + ${car.id}}">Удалить</a></td>
            <td><a class="btn btn-secondary" th:href="@{'/car/edit/' + ${car.id}}">Редактировать</a></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-success" th:href="@{/car/add}">Добавить</a>

</div>
</body>
</html>