<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Details)}"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Номер детали</td>
            <td>Название</td>
            <td>Страна производитель</td>
            <td>Цена</td>
            <td>Статус</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${details}">
            <td th:text="${detail.id}"/>
            <td th:text="${detail.name}"/>
            <td th:text="${detail.manufacturerCountry}"/>
            <td th:text="${detail.price}"/>
            <td th:text="${detail.status}"/>
            <td><a class="btn btn-danger" th:href="@{'/detail/delete/' + ${detail.id}}">Удалить</a></td>
            <td><a class="btn btn-secondary" th:href="@{'/detail/edit/' + ${detail.id}}">Редактировать</a></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" th:href="@{/detail/add}">Добавить</a>
</div>
</body>
</html>