<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<div th:fragment="navigation(activeTab)">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/homepage}">Главная</a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'Cars' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/cars}">Автомобили</a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'Owners' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/owners}">Владельцы</a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'Work' ? 'active' : ''}">
                <a class="nav-link" th:href="@{#}">Активные Работы</a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'Employees' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/employees}">Сотрудники</a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'Details' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/details}">Детали</a>
            </li>
        </ul>
    </div>
</nav>
</div>
