<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h1>Форма заполнения владельца</h1>
    <div th:replace="~{navigation :: navigation(owner-add)}"/>
    <form action="#" th:action="@{/owner/edit}" th:object="${owner}" method="post">
        <table>
            <tr>
                <td>Ф.И.О:</td>
                <td><input type ="text" th:field="*{fullName}"/></td>
            </tr>
            <tr>
                <td>Номер телефона:</td>
                <td><input type="text" th:field="*{telephoneNumber}"/></td>
            </tr>
            <tr>
                <td>Адрес: </td>
                <td> <input type="text" th:field="*{address}"/></td>
            </tr>
            <tr>
                <td>Номер пасспорта: </td>
                <td> <input type="text" th:field="*{passportNumber}"/></td>
            </tr>
            <tr>
                <td hidden></td>
                <td hidden> <input type="text" th:field="*{id}"/></td>
            </tr>
        </table>
        <p><input type="submit"  value="Submit"/></p>
    </form>

</div>
</body>
</html>